<!--List all users -->

<h2>Users: </h2>
<ul><%@users.each do |user| %>
<!--link to each user's individual (show) page -->
<li><%=link_to user.name, user_path(user)%></li>
<% end %>
</ul>
<h3><%=link_to "Login", new_session_path%></h3>
<h3><%=link_to "Create New User", new_user_path%></h3>
